<!DOCTYPE html>
<html>
<head>
    <title>Component</title>
</head>
<body>
    <div id="app">
        <counter subject="likes"></counter>
        <counter subject="dislikes"></counter>
    </div>

    <template id="counter-template">
        <h1>{{ subject }}</h1>
        <button @click="count += 1">{{ count }}</button>
    </template>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.1/vue.min.js"></script>
    <script type="text/javascript">
        // Vue.component('counter', {
        //     template: '#counter-template',

        //     props : ['subject'],

        //     data : function() {
        //         return { count : 0 };
        //     }
        // });
        var app = new Vue({
            el: '#app',

            components : {
                counter : {
                    template: '#counter-template',

                    props : ['subject'],

                    data : function() {
                        return { count : 0 };
                    }
                }
            }
        });
    </script>
</body>
</html>