<!DOCTYPE html>
<html>
<head>
    <title>Vue tutorial</title>
</head>
<body>
    <h1>Skill: {{ skill }}</h1>
    <input type="text" v-model="points">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.1/vue.min.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: 'body',
            data: {
                points : 200
            },
            computed : {
                skill : function() {
                    if (this.points <= 100) {
                        return 'Beginner';
                    }
                    return 'Advanced';
                }
            }
        });
    </script>
</body>
</html>