<!DOCTYPE html>
<html>
<head>
    <title>Counter</title>
</head>
<body>
    <div id="app">
        <button type="submit" @click="increment">Counter {{ count }}</button>
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.1/vue.min.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                count : 0
            },
            methods: {
                increment: function() {
                    this.count += 1;
                }
            }
        });
    </script>
</body>
</html>