<!DOCTYPE html>
<html>
<head>
  <title>Vue.js Demo</title>
</head>
<body>
  <div id="app">
    <h1>{{ message }}</h1>
    <input v-model="message">
    <pre>
      {{ $data | json }}
    </pre>
  </div>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.1/vue.min.js"></script>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!'
      }
    });
  </script>
</body>
</html>