<!DOCTYPE html>
<html>
<head>
    <title>Vue tutorial</title>
    <style>
        .completed { text-decoration: line-through; }
    </style>
</head>
<body>
    <div id="app">
        <tasks :list="tasks"></tasks>

        <tasks :list="[{body: 'Dang Van Luan', completed: false}]"></tasks>
    </div>
    <template id="tasks-template">
        <ul v-show="list.length">
            <h1>
                My Tasks
                <span v-show="remaining">({{ remaining }})</span>
            </h1>
            <li :class="{ 'completed': task.completed}"
                v-for="task in list"
                @click="task.completed = !task.completed"
            >
                {{ task.body }}

                <strong @click="deleteTask(task)">x</strong>
            </li>
        </ul>

        <p v-else>No tasks yet!</p>

        <button @click="clearCompleted">Clear Completed</button>
    </template>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.8/vue.min.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                tasks : [
                    {body : 'Go to the store', completed: false},
                    {body : 'Go to the bank', completed: false},
                    {body : 'Go to the shop', completed: true},
                ]
            },
            components : {
                tasks : {
                    props: ['list'],
                    template: "#tasks-template",
                    computed: {
                        remaining: function() {
                            return this.list.filter(this.inProgress).length;
                        }
                    },
                    methods: {
                        isCompleted: function(task) {
                            return task.completed;
                        },
                        inProgress: function(task) {
                            return !this.isCompleted(task);
                        },
                        deleteTask: function(task) {
                            this.list.$remove(task);
                        },
                        clearCompleted: function() {
                            this.list = this.list.filter(this.inProgress);
                        }
                    }
                }
            }
        });
    </script>
</body>
</html>