<!DOCTYPE html>
<html>
<head>
    <title>Vue tutorial</title>
</head>
<body>
    <div id="app">
        <pre>
            {{ $data | json }}
        </pre>

        <div v-for="plan in plans">
            <plan :plan="plan" :active.sync="active"></plan>
        </div>
    </div>

    <template id="plan-template">
        <div>
            <span>
                {{ plan.name }}
            </span>

            <span>
                {{ plan.price }}/month
            </span>

            <button @click="setActivePlan" v-show="plan.name !== active.name">
                {{ isUpgrade ? 'Upgrade' : 'Downgrade' }}
            </button>
        </div>
    </template>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.1/vue.min.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                plans : [
                    {name: 'A', price: 100},
                    {name: 'B', price: 50},
                    {name: 'C', price: 10},
                    {name: 'D', price: 120},
                ],
                active: {}
            },
            components: {
                plan : {
                    template: '#plan-template',
                    props: ['plan', 'active'],
                    data: function() {
                        return {
                            active: false
                        };
                    },
                    computed: {
                        isUpgrade: function() {
                            return this.plan.price > this.active.price;
                        }
                    },
                    methods: {
                        setActivePlan: function() {
                            this.active = this.plan;
                        }
                    }
                }
            }
        });
    </script>
</body>
</html>