<!DOCTYPE html>
<html>
<head>
    <title>submit form</title>
</head>
<body>
    <div id="app">
        <form>
            <div>
                <span class="error" style="color: red;" v-show="!message">
                    You must enter a message
                </span>
            </div>

            <div>
                <textarea v-model="message"></textarea>
            </div>

            <div>
                <button type="submit" v-show="message">Send</button>
            </div>
        </form>

        <pre>
            {{ $data | json}}
        </pre>
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.1/vue.min.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        });
    </script>
</body>
</html>