<!DOCTYPE html>
<html>
<head>
    <title>Vue tutorial</title>
</head>
<body>
    <h1>{{ fullName }}</h1>
    <input type="text" v-model="first"><input type="text" v-model="middle"><input type="text" v-model="last">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.1/vue.min.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: 'body',
            data: {
                first : 'Dang',
                middle : 'Van',
                last : 'Luan',
                fullName : 'Dang Van Luan'
            },
            watch: {
                first : function(first) {
                    this.fullName = first + ' ' + this.middle + ' ' + this.last
                },
                middle : function(middle) {
                    this.fullName = this.first + ' ' + middle + ' ' + this.last
                },
                last : function(last) {
                    this.fullName = this.first + ' ' + this.middle + ' ' + last
                }
            }
        });
    </script>
</body>
</html>